@model DepartmentVM

@{
    ViewData["Title"] = "Details";

}


<div class="block-header">
    <h2>@Model.Name Details</h2>
</div>

@{
    await Html.RenderPartialAsync("~/Views/Partials/Department/DetailsDelete.cshtml");
}

<center>
    <a asp-controller="Department" asp-action="Index" class="btn btn-warning">Return</a>
    <a asp-controller="Department" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary">Update</a>
    <a asp-controller="Department" asp-action="Delete" asp-route-id="@Model.Id"  class="btn btn-danger">Delete</a>

</center>