
@{
    ViewData["Title"] = "ConfirmForgetPassword";
    Layout = "~/Views/Layout/AccountLayout.cshtml";
}


<body class="fp-page">
    <div class="fp-box">
        <div class="logo">
            <a href="javascript:void(0);"><b>HRMS</b></a>
        </div>
        <div class="card">
            <div class="body">
                    <div class="msg">
                        Password Reset Link sent to your email, Please check your inbox
                    </div>

                    <div class="row m-t-20 m-b--5 align-center">
                    <a href="https://mail.google.com/mail/u/0/#inbox">check your inbox</a>
                    </div>
                
            </div>
        </div>
    </div>
</body>

