
@{
    ViewData["Title"] = "ConfirmResetPassword";
    Layout = "~/Views/Layout/AccountLayout.cshtml";
}



<body class="fp-page">
    <div class="fp-box">
        <div class="logo">
            <a href="javascript:void(0);"><b>HRMS</b></a>
        </div>
        <div class="card">
            <div class="body">
                <div class="msg">
                    Password Reset Successfully, Please Login again
                </div>

                <div class="row m-t-20 m-b--5 align-center">
                    <a asp-controller="Account" asp-action="Login">Login </a>
                </div>

            </div>
        </div>
    </div>
</body>



