@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Layout/AccountLayout.cshtml";
}

<body class="fp-page">
    <div class="fp-box">
        <div class="logo">
            <a href="javascript:void(0);"><b>HRMS</b></a>
        </div>
        <div class="card">
            <div class="body">
                <form asp-controller="Account" asp-action="ResetPassword">
                    <div class="msg">Reset Password</div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="Token" />
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    

                    <input type="submit" class="btn btn-block btn-lg bg-pink waves-effect" value="RESET" />
                    <div class="m-t-25 m-b--5 align-center">
                        <a asp-controller="Account" asp-action="Login">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>